header {
  margin-top: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid#ededdf;
}

.info_bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.info-bar__menu {
  width: 25px;
}

.info-bar__title {
  font-size: 25px;
  font-weight: bold;
}

.info-bar__icons img {
  width: 25px;
}
